@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('/fonts/SourceSansPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.emoji-support {
  font-family: 
    "Apple Color Emoji",    /* iOS Safari */
    "Segoe UI Emoji",       /* Windows */
    "Noto Color Emoji",     /* Android/Chrome */
    "Segoe UI Symbol",      /* Windows fallback */
    "Android Emoji",        /* Android fallback */
    "EmojiSymbols",         /* Generic fallback */
    sans-serif;
}


.font-source-sans {
  font-family: 'SourceSansPro', sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Optional: just in case */
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}